:root {
  --color-black: #1d1d1d;
  --color-black-second: #272727;
  --color-white: #fff;
  --color-white-opacity: #c9c9c980;
  --color-gray: #3a3a3a;
  --color-gray-opacity: #424242d2;
  --color-blue-principal: #00acee;
  --color-red-principal: rgb(211, 0, 0);
  --color-red-second: rgba(163, 0, 0, 0.37);
  --font-large: 26px;
  --font-normal: 16px;
  --font-small: 12px;
  --colro-sd: #00000070;
}

html {
  font-size: var(--font-normal);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}

.tw-section {
  border: 5px solid var(--color-gray-opacity);
  border-radius: 20px;
  width: 310px;
  padding: 5px;
  overflow: hidden;
  background-color: var(--color-black-second);
}

@media (max-width: 600px) {
  .tw-section {
    margin: 0 auto;
  }
}

.tw-card-article {
  width: 300px;
  height: 60px;
  background-color: var(--color-black-second);
  color: var(--color-white);
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 5px;
  font-size: var(--font-small);
}

.tw-card-header {
  display: grid;
  grid-template-columns: 24% 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tw-card-avatar {
  width: 100%;
  border-radius: 50%;
}

.tw-card-infouser {
  display: flex;
  flex-direction: column;
}

.tw-card-infouser > span {
  color: var(--color-white-opacity);
}

.tw-card-aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tw-card-button {
  height: 50%;
  min-width: 70%;
  width: auto;
  border-radius: 20px;
  border: none;
  color: var(--color-black);
  font-weight: bold;
  background-color: var(--color-white);
  cursor: pointer;
  transition: all ease 0.2s;
}

.stopFollowing {
  display: none;
}

.follow-btn-bg-act {
  background-color: var(--color-black-second);
  border: 2px solid var(--color-gray-opacity);
  color: var(--color-white);
}

.follow-btn-bg-act:hover {
  background-color: var(--color-red-second);
  border: 2px solid var(--color-red-principal);
  color: var(--color-red-principal);
}

.follow-btn-bg-act:hover span {
  display: none;
}

.follow-btn-bg-act:hover > .stopFollowing {
  display: block;
}

/* Like Button */

.like-btn {
  background-color: var(--color-blue-principal);
  color: var(--color-white);
  border: none;
  width: 50px;
  height: auto;
  display: flex;
  border-radius: 20px;
  gap: 2px;
  align-items: center;
}

.like-btn svg {
  width: 100%;
}
