:root {
    --color-black: #1d1d1d;
    --color-black-second: #272727;
    --color-white: #fff;
    --color-white-opacity: #c9c9c9;
    --font-large: 26px;
    --font-normal: 16px;
    --font-small: 12px
}

html {
    font-size: var(--font-normal);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
}


.tw-card-article {
    width: 300px;
    height: 60px;
    background-color: var(--color-black-second);
    color: var(--color-white);
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 5px;
    font-size: var(--font-small);
}

.tw-card-header {
    display: grid;
    grid-template-columns: 20% 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tw-card-avatar {
    width: 100%;
    border-radius: 50%;
}

.tw-card-infouser {
    display: flex;
    flex-direction: column;
}

.tw-card-header span {
    color: var(--color-white-opacity);
}

.tw-card-aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tw-card-button {
    height: 50%;
    width: 70%;
    border-radius: 20px;
    border: none;
    color: var(--color-black);
    font-weight: bold;
    background-color: var(--color-white);
}